@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-left">
    <h5 class="display-4" style="font-size:40px">Welcome to the world of Technical Analysis!</h5>
    <br />
    <p>Here you can learn about technical analysis concepts by studying technical indicators and how they apply to different markets.</p>
    <p>Use the Stock Viewer feature to visualize stock price over time. The current version of the viewer displays a Candlestick chart, based on  OHLC (open high low close) price data.</p>
</div>
