@page
@model StockViewer.Pages.ThisProjectModel
@{
    ViewData["Title"] = "ThisProject";
}

<div class="text-left">
    <h5 class="display-4" style="font-size:40px">About this project:</h5>
    <br />
    <p>
        This project represents my attempt to build an educational website focused on technical analysis of stocks.<br />
        It is a learning project for me, therefore it is still under construction.
        I plan to add more articles and more features soon.
    </p>
    <p>
        My main motivation while developing this was to become more familiar with C# language and ASP.NET (Core), and along the way to share some knowledge about technical analysis, which is a passion of mine. 
    </p>

    <p>
        It uses Razor Pages, Bootstrap styling and Highcharts.js to build the charts. The actual stock data used represents free market data extracted via publicly available APIs.
    </p>

    <p>
        It was a fun journey, and I learned a great deal along the way. But it's just the beginning... 
    </p>
</div>

